<!-- // NOT IMPLEMENTED YET; need to figure out alignment and images information for all of the game specifications -->

// Classes: Degrees; what degrees OldSpice can move
.deg0 {
    -webkit-transform: rotate(90deg);
}

.deg30 {
    -webkit-transform: rotate(60deg);
}

.deg60 {
    -webkit-transform: rotate(30deg);
}

.deg90 {
    -webkit-transform: rotate(0deg);
}

.deg120 {
    -webkit-transform: rotate(-30deg);
}

.deg150 {
    -webkit-transform: rotate(-60deg);
}

.deg180 {
    -webkit-transform: rotate(-90deg);
}

.deg210 {
    -webkit-transform: rotate(-120deg);
}

.deg240 {
    -webkit-transform: rotate(-150deg);
}

.deg270 {
    -webkit-transform: rotate(-180deg);
}

.deg300 {
    -webkit-transform: rotate(-210deg);
}

.deg330 {
    -webkit-transform: rotate(-240deg);
}

.asteroids {
    background-image: url(img/asteroid.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;   
}

.boundaries {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.meteors {
    background-image: url(img/meteor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%; 
}

.muskteslas {
    background-image: url(img/musk.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.OldSpice {
    background-image: url(img/oldspice.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    position: relative;
    z-index: 10;
}

.planets {
    background-image: url(img/planet.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}
