.Asteroid {
    background-image: url("../img/asteroid.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.old-spice {
    background-image: url("../img/oldspice.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:80%;
    width:100%;
    position: relative;
    z-index: 10;
}

.MuskTeslaStation{
    background-image: url("../img/musktesla.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.MeteorShower {
    background-image: url("../img/meteor.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.Planet {
    background-image: url("../img/planet.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.AbFreighter {
    background-image: url("../img/freighter.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    position: relative;
    z-index: 10;
}
