/* Grid container deals with the boundaries of the map grid. Containers are typically used to create boxed elements */
#grid-container {
    overflow: hidden;
    position: relative;
}

/* Boxes the map grid */
#map-wrapper {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 50px;
    height: 60px;
    transform: translate(-50%, -50%);
}

/* the map wrapper and ship-ic (ic stands for ideographic count; used for the ship display font take the same 
position, width, height, and z-index. z-indexes are used for objects that have animation */
#map-wrapper .ship-ic {
    position: relative;
    width: 60px;
    height: 60px;
    z-index: 10;
}

/* the map table is dealing with the map grid border. transition time is from the homepage to 
the game play screen */
.map-table {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 25px solid #3d3d3d;
    background: transparent;
    transition: all 0.5s ease-in-out;
}


/* deals with the color and padding of the grid lines */
.map-table .map-row .map-cell {
    padding: 0px;
    border: 1px solid #2752d6;
}

/* deals with the width and height of the map table, rows, cells, and objects to be placed
in the map */
.map-table .map-row .map-cell .map-obj {
    width: 50px;
    height: 50px;
}

/* deals with adding and removing celestial artifacts from the map */
.map-obj.showed-obj:before {
    display: block;
    content: attr(alt);
    position: relative;
    top: -20px;
    color: #000000;
    background: #000000;
    width: fit-content;
    font-size: .5rem;
    font-weight: normal;
    padding: 0 5px;
    border-radius: 5px;
}
