/* main document styles */
html, body {
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* the font that everything is currently in */
@font-face { 
    font-family: 'Quadrit'; 
    src: url('../css/Quadrit.ttf'); 
}

* { 
    font-family: Quadrit;
    font-size: 15px;
    color: #000000;
}

/* container for the game play screen page and how the space landscape 
background is formatted and aligned */
.main-container {
    display: inherit;
    width: 100%;
    height: 100%;
    background: url(../img/spacebackground.jpg);
    background-size: cover;
}

/* class to target top side panels; the color for the side panels */
.data-panel {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    opacity: 90%;
    width: 30%;
    height: 100%;
}

/* known locations section styles (the left panel); the gazetteer (saved locations) */
#knownlocations {
    height: 100%;
}

/* display 4 uses heading 4 to display; heading 4 seems to be the right size for font for now */
.display-4 {
    font-family: "Quadrit";
    font-weight: normal;
    font-size: 4rem;  
}

/* deals with the data panel sizing */
.data-panel .knownlocations-list-wrapper {
    overflow: auto;
    margin: 10px 2px;
    height: 100%;
}

/* deals with the known locations title */
.data-title {
    margin: 20px 0 15px 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

/* deals with the data panels; how a user can interact with it */
.data-panel .knownlocations-list-wrapper::-webkit-scrollbar,
#message-list::-webkit-scrollbar {
    width: 5px;
}
.data-panel .knownlocations-list-wrapper::-webkit-scrollbar-track,
#message-list::-webkit-scrollbar-track {
    background: #000000;
}
.data-panel .knownlocations-list-wrapper::-webkit-scrollbar-thumb,
#message-list::-webkit-scrollbar-thumb {
    background: #004a99;;
}
.data-panel .knownlocations-list-wrapper::-webkit-scrollbar-thumb:hover,
#message-list::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

/* deals with formatting for the known (saved) locations; left panel */
.knownlocations-list-wrapper .knownlocations-obj-coordinate {
    margin-left: 10px;
}

/* might not be in use */
.list-group-item {
    background-color: #dbdbdb;
}

/* container class for data log; makes the display fit to the screen */
.data-log-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
    height: 100%;
}

/* used for the graphics for logging data; might not be needed, but we
shall see */
#data-log {
    padding-top: 10%;
    text-align: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* individual data log of past coordinates */
.log {
    padding: 1rem 0;
    font-size: .9rem;
}

/* how the saved game titles are formatted on the main screen page */
#savedGameListTitle{
   margin-bottom: -8px;
}

/* how the saved game list is formatted on the main screen page */
#savedGameList{
    margin: 0 auto;
}

/* saves the game name; might not be needed */ 
#game-name{
    width: 100%;
}

/* used to deal with the animations for the spaceship */
.ship-wrapper {
    position: relative;
    height: 100%;
    transition: .2s all cubic-bezier(0.04, 0.8, 0.65, 1.7);
    transform: scale(1);
    z-index: 10;
}

/* how the spaceship is actually animated to move in different directions */
.ship-wrapper.hidden {
    transform: scale(0);
    transition: .2s all cubic-bezier(0.48, -0.44, 0.91, 0.01);
}

/* headings position */
#heading-container {
    position: absolute;
    top: -25px;
}

/* headings graphics */
#heading {
    font-size: 1rem;
    background-color: #000000;
    border-radius: 5px;
}

/* class to target heading spans; how much space the heading gets */
.heading-span {
    display: inline-block;
}

/* container class for current heading */
.heading-container {
    display: inherit;
    justify-content: center;
}

/* center screen container; where the game is being played */
#main-screen-container {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* id to target ship name; may not be used if the ship name doesn't
have to be displayed, but we shall see */
#ship-name {
    font-family: 'Quadrit';
    font-weight: bolder;
    font-size: 3.5rem;
    color: black;
}

/* used for the sensor display; essentially, when the user clicks the 
"sensor" button, this should display a "scan" on the screen in the area */
.sensor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #c76a2c;
    transform: scale(0,0);
    transition: .1s transform cubic-bezier(0, 1, 1, 1);
    z-index: 5;
}

/* container for map; how much space the map takes up on the screen */
#map-container {
    height: 50%;
    width: 95%;
    overflow: hidden;
}

/* id for map grid container; this is what makes the grid a grid */
#grid-container {
    display: grid;
    grid-gap: 1px;
    height: 100%;
    width: 100%;
    background: transparent;
    background-size: cover;
}

/* class for individual map grid cells; what can be done 
in the cell */
.grid-block {
    display: flex;
    z-index: 500;
    background: black;
    border: 5px black;
}

/* alerts display */
#message-board {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*id for targeting message board; for when we're displaying messages
to the user when they encounter a celestial artifact or BadMax, etc. */
#message-board-container {
    width: 92%;
    height: 35%;
    background-color: #202238;
}

/* id for message board list */
#message-list {
    height: 90%;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    margin: 0;
}

/* class for message board list elements; deals with 
indiviual messages (alerts) */
.message {
    padding: .5rem .5rem;
    margin: .2rem 0;
    background-color: #ffffffb8;
    width: 100%;
    text-align: start;
    border-radius: 5px;
}

/* container class for data log */
.data-log-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
}

/* class to target heading spans */
.heading-span {
    display: inline-block;
}

/* container class for current heading */
.heading-container {
    display: inherit;
    justify-content: center;
}

/* class for map, control panel, and status box containers */
.status-control-containers {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 38%;
    border-radius: 0;
    overflow: hidden;
}

/* the game saving button */
.data-title .btn-game-save {
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}

/* shows is the game saved or not; may not be needed */
.data-title .btn-game-save:not(:disabled):not(.disabled):active {
    color: #000;
}

/* control container specific */
#controls {
    align-items: center;
}

/* to target input fields container */
.control-fields {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* id to target movement form inputs */
#movement-form-fields {
    width: 100%;
}

/* id to target div container for east/west input buttons; may not be needed anymore */
#east-west-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: .5rem 0;
}

/* id for ship movement number input */
#movement-magnitude {
    width: 20%;
}

/*id for sensor container, lets the scanner actually do its job */
#sensor-container {
    justify-content: center;
    align-items: center;
}

/* id to target scan input button */
#sensor-scan {
    width: 40%;
}

/* id for container holding ship status */
#status-container {
    color: #fff;
}

/* id for displaying ship status */
#status-list {
    height: 100%;
    width: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 2rem;
    font-size: 1rem;
}
